.post-conatiner{
  display: flex;
  width: 550px;
  height: 170px;
  justify-content: space-evenly;
}
img {
  width: 100px;
  height: 150px;
  border-radius: 5px;
} 
.pagination-conatiner{
  width: 550px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.page-btn{
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}
.active{
  background-color:  gray;
}